.navbar-brand{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    color: black;
}

.nav li{
color: black;
}


.helloSection H1{
    text-align: center;
    font-size:125px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to bottom right, rgba(245,247,250,1) 0%, rgba(195,207,234,1) 100%);
    padding: 15% 5%;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: darkslateblue;
}

video{
    width: 100%;
}
.About h1 u{
    font-weight: bolder;
}


.About {
    text-align: center;
    font-size: large;
    padding: 20px 60px 20px 60px;
    margin: 0px 100px 00px 100px;
}

.Intro{
    background-image: url("images/Banner-main.png") ;
    image-rendering: smooth;
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    width:100%;
    height: auto;
    position: relative;
    animation: fadeInDown;/* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s ; /* don't forget to set a duration! */
}
#Contact-us{
    background-color: #cfe2ff;
    padding:10px 10px;
}
.inner-container {
    width: 750px;
    margin: 60px auto;
    display: flex;
    //background-color: white;
    border-radius: 12px;
    padding: 40px;
    background-color: #b6d4fe;
    box-shadow: rgb(38, 57, 77, 0.5) 0px 20px 30px 0px;
    transition: ease-in-out infinite;
    transform-style: preserve-3d;
    transition-delay: 5s;
}

.inner-container:hover {
    transform: scale(1.1);
    transition: smooth;
}

.inner-container.has-transition {
    transition: transform 10ms ease-in-out;
}


.tile1 {
    width: 450px;
}

.tile2 {
    flex: 1 1 auto;
    padding: 0px 20px;
}

.tile1-heading {
    background: -webkit-linear-gradient(#0aa6bd, #f126bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 1.5em;
}

.form-row {
    padding: 20px 0px 0px 0px;
}

.form-field {
    border-radius: 4px;
    width: 100%;
    padding: 15px;
    background-color: #f5f4fa;
    border: 0px;
}

.contact-image {
    padding: 10px;
    border-radius: 35px;
    border: 1px solid #a8a4a4;
    vertical-align: middle;
    margin-right: 20px;
    width: 16px;
    height: 16px;
}

textarea {
    height: 100px;
    font-family: Arial;
}

.btn {
    color: darkblue;
    background: linear-gradient(to right, #b6d4fe, #f126bd);
    border-color: darkblue ;
    border-width: medium;
}

.tile2-image img {
    width: 321px;
    height: auto;
}

#menu-icon {
    display: none;
    float: right;
}

@media all and (max-width: 900px) {
    .inner-container {
        width: auto;
        display: block;
        margin: 30px auto;
    }
    .header-content {
        width: auto;
    }
    .tile1 {
        width: 100%;
    }
    .tile2 {
        padding: 0px;
    }
    .tile2-image img {
        width: 100%;
        height: auto;
    }
}

@media all and (max-width: 540px) {
    #header-right-menu {
        float: none;
        display: none;
    }
    #header-right-menu a {
        display: block;
        padding: 10px 0px;
    }

    #menu-icon {
        display: block;
        float: right;
    }
}

@media all and (max-width: 400px) {
    .container {
        padding: 10px;
    }
}
/*
.MainSection:hover H1 span{
    display: none;
}
.MainSection:hover H1::after{
    content: 'I am Vaishali Sharma.';
}*/
