.navbar-brand{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    color: black;
}

.nav li{
color: black;
}


.helloSection H1{
    text-align: center;
    font-size:125px;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    background-image: linear-gradient(to bottom right, rgba(245,247,250,1) 0%, rgba(195,207,234,1) 100%);
    padding: 15% 5%;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: darkslateblue;
}


.MainSection:hover H1 span{
    display: none;
}
.MainSection:hover H1::after{
    content: 'I am Vaishali Sharma.';
}
